{% extends "base.html" %}
{% load static %}

{%block title%}
Starting_page
{%endblock%}
{%block css_files%}
    <link rel="stylesheet" href="{% static "blog/posts.css"%}">
    <link rel="stylesheet" href="{% static "blog/index.css"%}">
{%endblock%}

{%block content%}
    
    <section id="welcome">
        <header>
            <img src="{%static "blog/images/photo.png"%}"alt="Pranav-the author of this blog"/>
            <h2>PRANAV'S BLOG</h2>
        </header>
        <p>Hi this is Pranav Raikar and I love to blog</p>
    </section>
    <section id="latest-posts">
        <h2>My latest Posts</h2>
        <ul>
            {% for post in posts%}
                {%include "blog/includes/post.html"%}
            {%endfor%}
        <ul>
    </section>
    <section id="about">
        <h2> What I do</h2>
        <p>I stay in Thane I love to read books</p>
    </section>

        
    
{%endblock%}